SECRET_KEY=V0PmMwVBVimvfnUoyspCWRpbinDSlA1iCZAdd2YB4k8

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Данные для подключения к БД (PostgreSQL)
DB_HOST=localhost # для docker: postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456789
DB_NAME=api_monitoring_website

MODE=DEV